/* ==========================================================================
Layout: acticle
========================================================================== */

.article {
   $a: &;
   padding: 60px 0 120px;
   @include medium {
      padding: 40px 0 80px;
   }
   &__title {
      @include font-size(36);
      font-weight: fw(bold);
      color: color(black, 1);
      text-align: center;
      @include small {
         @include font-size(24);
      }
      
      &::after {
         content: '';
         display: block;
         width: 56px;
         height: 2px;
         margin: 24px auto 32px;
         background-color: color(black, 1);
      }
   }
   &__list {
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: 32px;
      @include clearfix;
      @include small {
         overflow: hidden;
         white-space: nowrap;
         overflow-x: auto;
      }
   }
   &__items {
      float: left;
      width: 33.3333%;
      padding-right: 16px;
      padding-left: 16px;
      @include small {
         display: inline-block;
         width: 80%;
         float: none;
         white-space: normal;
      }
   }
   &__btn {
      text-align: center;
   }
}