/* ==========================================================================
Layout: acticle
========================================================================== */

.blog {
  $b: &;
  padding: 120px 0;
  @include medium {
    padding: 88px 0 56px;
  }
  @include small {
    padding: 80px 0 48px;
  }
  @include extra-small {
    padding: 72px 0 40px;
  }
  &__head {
    margin-bottom: 54px;
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
    }
    @include extra-small {
      margin-bottom: 24px;
    }
  }
  &__body {
    margin-left: -18px;
    margin-right: -18px;
    margin-bottom: 72px;
    @include clearfix;
    @include clearfix;
    @include medium {
      margin-left: -32px;
      margin-right: -32px;
      margin-bottom: 56px;
      @include scroll(x, touch, hide);
      padding-left: 32px;
      padding-right: 32px;
    }
    @include small {
      margin-bottom: 48px;
    }
    @include extra-small {
      margin-left: -24px;
      margin-right: -24px;
      font-size: 0;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 32px;
    }
  }
  &__btn {
    text-align: center;
  }
  #{$b}__card {
    float: left;
    width: 33.3333%;
    padding: 18px;
    @include medium {
      float: none;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 312px;
      padding: 24px 0;
      margin-right: 24px;
      white-space: normal;
      &:last-child {
        margin-right: 32px;
      }
    }
    @include extra-small {
      max-width: 280px;
      padding: 24px 0;
      margin-right: 16px;
      &:last-child {
        margin-right: 24px;
      }
    }
  }
}
