/* ==========================================================================
   Layout: Our Services
   ========================================================================== */

.our-services {
  $os: &;
  padding: 80px 0;
  position: relative;
  @include medium {
    padding: 40px 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: -266px;
    width: 938px;
    height: 670px;
    background: url("../img/bg/bg.png") no-repeat center/100%;
    z-index: -1;
    @include medium {
      content: none;
      display: none;
    }
  }
  &__head {
    margin-bottom: 72px;
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
    }
  }
  &__desc {
    @include font-size(18);
    font-weight: fw(light);
    text-align: center;
    max-width: 952px;
    margin: 0 auto;
    margin-bottom: 0;
    @include small {
      @include font-size(16);
    }
  }
  &__list {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 60px;
    @include clearfix;
    @include small {
      margin-bottom: 32px;
    }
  }
  &__btn {
    text-align: center;
  }
  #{$os}__item {
    float: left;
    width: 33.3333%;
    padding: 16px;
    max-width: initial;
    @include medium {
      width: 50%;
    }
    @include small {
      width: 100%;
    }
  }
}
