//-------------------------------------------------------------------------------
  @name: article
  -------------------------------------------------------------------------------//

// article
.article__items 
  .article__box
    a.article__box__link(href=data.to)
    .article__img 
      img.article__img__el(src="assets/img/dummy/"+data.img alt=data.title)/
    .article__txt 
      h3.article__txt__title
        | !{data.title} 
      p.article__txt__desc 
        | !{data.desc} 
      a.article__txt__btn(href="#")
        | Read more
        i.icon-arrow-right