//-------------------------------------------------------------------------------
  @name: blog
  -------------------------------------------------------------------------------//

// blog__card
.blog__card
  .blog__box
    a.blog__box__link(href=data.to)
    .blog__img
      img.blog__img__el(src="assets/img/dummy/"+data.img alt=data.title)/
    .blog__txt
      h3.blog__txt__title
        | !{data.title}
      p.blog__txt__desc
        | !{data.desc}
      button.blog__txt__btn
        | Read more
        i.icon-arrow-right
