//-------------------------------------------------------------------------------
  @name: our services
  -------------------------------------------------------------------------------//
//- our-services__card
.our-services__card
  .our-services__box
    .our-services__img
      ='\n'
      img.our-services__img__el(src="assets/img/dummy/"+data.img alt=data.title)/
    .our-services__txt
      h3.our-services__txt__title
        | !{data.title}
      p.our-services__txt__desc
        | !{data.desc}
