//-------------------------------------------------------------------------------
  @name: testimonials
  -------------------------------------------------------------------------------//

// testimonials item
.testimonials__items
  .testimonials__img
    .testimonials__img__avatar
      ='\n'
      img.testimonials__img__avatar__el(src="assets/img/dummy/"+data.img alt=data.name)/
    .testimonials__img__txt
      p.testimonials__img__name 
        | !{data.name}
      p.testimonials__img__position
        | !{data.position}
  .testimonials__txt
    p.testimonials__txt__desc
      | !{data.testimonial}
