//-------------------------------------------------------------------------------
  @name: testimony
  -------------------------------------------------------------------------------//

// testimony item
.testimony__items
  .testimony__custommer
    .testimony__avatar
      ='\n'
      img.testimony__avatar__el(src="assets/img/dummy/"+data.img alt=data.name)/
    .testimony__img__txt
      p.testimony__custommer__name
        | !{data.name}
      p.testimony__custommer__title
        | !{data.position}
  .testimony__desc
    p.testimony__desc__txt
      | !{data.testimonial}
