-
  data = {
    img: 'download-our-mobile-apps.png',
    title: 'Download our mobile apps',
    desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
    modifier: 'reverse',
    btnTo: 'download-our-mobile-apps.html',
    txtBtn: 'Download',
    btnIcon: 'icon-arrow-down'
  }
include ../../components/section-description.pug