-
  data = {
    img: 'download-our-mobile-apps.png',
    title: 'Download our mobile apps',
    desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
    modifier: 'reverse',
    btn: {
      to: 'download-our-mobile-apps.html',
      text: 'Download',
      icon: 'icon-arrow-down'
    }
  }
include ../../components/section-description.pug
