-
  data = [
    {
      img: 'virtual-healthcare.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
      button: {
        to: '#',
        text: 'Consult today'
      }
    },
    {
      img: 'leading-healthcare-providers.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
      button: {
        to: '#',
        text: 'Consult today'
      }
    },
    {
      img: 'download-our-mobile-apps.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
      button: {
        to: '#',
        text: 'Consult today'
      }
    }
  ]
include ../../layouts/hero-banner.pug
