-
  data = [
    {
      img: 'virtual-healthcare.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone'
    },
    {
      img: 'virtual-healthcare.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone'
    },
    {
      img: 'virtual-healthcare.png',
      title: 'Virtual healthcare for you',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone'
    }
  ]
include ../../layouts/hero-banner.pug
