-
  data = {
    title: 'What our customer are saying',
    testimonial: [
      {
        name: 'Edward Newgate',
        position: 'Founder Circle',
        img: 'edward-newgate.jpg',
        testimoni: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
      },
      {
        name: 'Bille Eilish',
        position: 'Founder Circle',
        img: 'billie-eilish.jpeg',
        testimoni: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
      },
      {
        name: 'Edward Newgate',
        position: 'Founder Circle',
        img: 'edward-newgate.jpg',
        testimoni: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
      },
      {
        name: 'Bille Eilish',
        position: 'Founder Circle',
        img: 'billie-eilish.jpeg',
        testimoni: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
      }
    ]
  };
include ../../layouts/testimonial.pug
