//-------------------------------------------------------------------------------
  @name: header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'trafalgar.svg',
    logoLink: 'index.html',
    logoAlt: 'trafalgar',
    menu: [
      {
        link: 'index.html',
        text: 'Home',
        classActive: 'home'
      },
      {
        link: 'doctor.html',
        text: 'Find a doctor',
        classActive: 'doctor'
      },
      {
        link: 'apps.html',
        text: 'Apps',
        classActive: 'apps'
      },
      {
        link: 'testimonials.html',
        text: 'Testimonials',
        classActive: 'testimonials'
      },
      {
        link: 'about.html',
        text: 'About us',
        classActive: 'about'
      }
    ]
  }

//header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=dataHeader.logoLink)
        ='\n'
        img.header__logo__img(src='assets/img/logo/'+dataHeader.logoSrc, alt=dataHeader.logoAlt)/
        ='\n'
      ='\n'
      button.burger-menu.js-mobile-menu(type='button')
        ='\n'
        span.burger-menu__bar
        ='\n'
      ul.header__nav
        each val in dataHeader.menu
          li.header__nav__item
            ='\n'
            a.header__nav__link(href=val.link class=(navActive == val.classActive ? 'header__nav__link--active' : '')) !{val.text}
='\n'
// end header
