//-------------------------------------------------------------------------------
  @name: hero banner
  -------------------------------------------------------------------------------//

// banner
.banner
  .container
    each val in data
      -
        data = val
      include ../components/hero-banner.pug
