//-------------------------------------------------------------------------------
  @name: Blog
  -------------------------------------------------------------------------------//

.our-services
  .container
    .our-services__head
      h2.text-title
        | !{data.title}
      p.our-services__desc
        | !{data.desc}
    .our-services__body
      each val in data.list
        -
          data = val
        include ../components/our-services.pug
    .our-services__footer
      ='\n'
      .btn.btn--secondary(href="our-services.html")
        | Learn more
      ='\n'
