.testimonials
  .container
    .testimonials__box
      h2.testimonials__title
        | What our customer are saying
      .testimonials__list.js-testimonials
        each val in data
          - 
            data = val
          include ../components/testimonials.pug
