.testimonial
  .container
    .testimonial__box
      .testimonial__box__head
        h2.text-title.text-title--white
          | !{data.title}
      .testimonial__list.js-testimonial
        each val in data.testimonial
          -
            data = val
          include ../components/testimonial.pug
